<header class="row">
  <h1>RSS Video PodCast Info</h1>
  <p class="lead">
    What it is and what is does...
  </p>
</header>

<div class="row">
  <h4>Main Functionality</h4>
  <ul>
    <li ng-repeat="opt in options">{{opt}}</li>
  </ul>

  <h4>Build with</h4>
  <ul>
    <li ng-repeat="lib in libs">{{lib}}</li>
  </ul>

  <h4>Testing</h4>
  <ul>
    <li ng-repeat="test in tests">{{test}}</li>
  </ul>

  <h4>Key Binding</h4>
  <ul>
    <li ng-repeat="key in keys">{{key}}</li>
  </ul>

  <h4>TODO</h4>
  <ul>
    <li ng-repeat="todo in todos">{{todo}}</li>
  </ul>
</div>
