<header class="row">
  <h1>RSS Video PodCast Demo</h1>

  <p class="lead">
    RSS feed of PodCast video UI list for smart tv
  </p>
</header>

<div class="row">
  <h4 class="podTitle">{{podCast.title}}</h4>

  <div class="podDescription">{{podCast.description}}</div>
</div>

<div class="row">
  <div class="col-lg-6">
    <button class="podListButton podListButtonUp" ng-model="podListButtonUp">{{podListButtonUpName}}</button>
    <ul class="podVideoList" ng-repeat="video in podCast.videoList">
      <li>{{$index}}, {{video.title}}, {{video.date}}</li>
    </ul>
    <button class="podListButton podListButtonDown"  ng-model="podListButtonDown">{{podListButtonDownName}}</button>
  </div>

  <div class="col-lg-6">
    <video id="podVideoPlayer" class="podVideoPlayer"></video>
    <div class="podVideoDescription">{{podVideoDescription}}</div>
  </div>
</div>
