<header class="row podHeader">
  <h2 class="podTitle">{{podCast.title}}</h2>

  <h4 class="podDescription">{{podCast.description}}</h4>
</header>

<div class="row">
  <div class="col-lg-6 podVideoListWrap">
    <a id="podListButtonUp" href="" class="podListButton podListButtonUp">{{podListButtonUpName}}</a>
    <ul id="podListVideos" class="podVideoList">
      <li ng-repeat="video in podCast.entries">
        <div class="number">{{$index+1}}</div>
        <strong>{{video.title | limitTo: 90}}{{video.title.length > 90 ? '&hellip;' : ''}}</strong><br>
        <small>{{video.publishedDate | date:'yyyy-MM-dd HH:mm:ss'}}</small>
      </li>
    </ul>
    <a id="podListButtonDown" href="" class="podListButton podListButtonDown">{{podListButtonDownName}}</a>
  </div>

  <div class="col-lg-6">
    <audio controls id="podVideoPlayer" class="podVideoPlayer"></audio>
    <div class="podVideoDescription" ng-bind-html="activeVideoDescription"></div>
  </div>
</div>
